@charset "UTF-8";

/*
    - #A58961
    - #3E4B53
    - #647B8B
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: linear-gradient(to top, #647B8B, #3E4B53);
    color: #A58961;
    padding: 3%;
    text-align: center;
}

h1{
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.466));
}

section{
    background-color: white;
    width: 600px;
    height: 400px;

    margin: auto;
    margin-top: 20px;
    padding: 20px;

    border-radius: 10px;
}

select{
    display: block;
    width: 50%;

    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

input#id_buttonAdd, input#id_buttonEnd{
    padding: 2px;

    border: 2px solid #3E4B53;
    border-radius: 3px;
}

input#id_buttonAdd:hover, input#id_buttonEnd:hover{
    background-color: rgba(205, 205, 205, 0.663);
    transition: .4s;

}

input#id_buttonEnd{
    margin-top: 20px;
}

div#id_txtResultado{
    margin-top: 20px;
}